{
    "CN": "system:kube-controller-manager",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "hosts": [
      "127.0.0.1",
      "{{ansible_default_ipv4.address}}"
    ],
    "names": [
      {
        "C": "CN",
        "ST": "HangZhou",
        "L": "HangZhou",
        "O": "system:kube-controller-manager",
        "OU": "guojian"
      }
    ]
}
