{% set list=[] %}
{% for host in groups['etcd'] %}
{% set str = "http://"+ hostvars[host]['ansible_default_ipv4']['address'] +":2379" %}
{{ list.append(str) }}
{% endfor %}

[Unit]
Description=Flanneld overlay address etcd agent
After=network.target
After=network-online.target
Wants=network-online.target
After=etcd.service
Before=docker.service

[Service]
Type=notify
ExecStart=/ilabservice/flanneld/flanneld \
  -etcd-endpoints "{{list|join(",")}}" \
  -etcd-prefix /kubernetes/network \
  -iface "{{ansible_default_ipv4.interface}}"
ExecStartPost=/ilabservice/flanneld/mk-docker-opts.sh -k DOCKER_NETWORK_OPTIONS -d /run/flannel/docker
Restart=on-failure

[Install]
WantedBy=multi-user.target
RequiredBy=docker.service
